<html>
<body>
<h1 style="text-align:center;background-color:black;color:yellow;"> <u>Now Choose Any of the following Result you want to see</u></h1><br><br>
<body style="background-color:black;color:yellow;text-align:center">


<hr size="20" color="red" width="75%"><br>
<hr size="15" color="blue" width="50%"><br>
<hr size="10" color="green" width="30%%"><br>

<p>
  <a href="http://localhost:8000/m" style="color:yellow; font-size:150%;">Click Here to get the Meaning OF the Given Word </a><br><br><br>
  <a href="http://localhost:8000/an" style="color:yellow; font-size:150%;">Click Here to get the Antonym OF the Given Word </a><br><br><br>
  <a href="http://localhost:8000/s" style="color:yellow; font-size:150%;">Click Here to get the Synonym OF the Given Word </a><br><br><br>
  <a href="http://localhost:8000/pn" style="color:yellow; font-size:150%;">Click Here to hear the Pronunciation OF the Given Word </a><br><br><br>
  <a href="http://localhost:8000/e" style="color:yellow; font-size:150%;">Click Here to get the Example Sentence OF the Given Word </a><br><br><br>
  <a href="http://localhost:8000" style="color:yellow; font-size:150%;">Click Here to Re-Enter the Word </a><br><br>
</p>

<hr size="10" color="green" width="30%"><br>
<hr size="15" color="blue" width="50%"><br>
<hr size="20" color="red" width="75%%"><br>

</body>
</html>