<html>
<body style="background-color:black;color:yellow;text-align:center;">
<h1 style="text-align:center;background-color:black;color:yellow;font-size:300%;"><u> Synonyms</u></h1><br><br>

<hr size="20" color="red" width="75%"><br>
<hr size="15" color="blue" width="50%"><br>
<hr size="10" color="green" width="30%%"><br>

<p style="font-size:150%;">

 The synonym of word is:=<br><br><u>
{% if data %}

{{data}}

{% endif %}
</p></u><br><br>
  <a href="http://localhost:8000" style="color:yellow; font-size:150%;">Click Here to Re-Enter the Word </a>

<br>
<hr size="10" color="green" width="30%"><br>
<hr size="15" color="blue" width="50%"><br>
<hr size="20" color="red" width="75%%"><br>

</body>
</html>
